<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sof.IA</title>
        <meta name="description" content="Asistente Psicológico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <img src="C:\Users\jorge\Downloads\WhatsApp Image 2025-04-11 at 9.24.04 PM-Photoroom.png" width="120" height="120" >
        <h1>Sof.IA</h1>
        <h2>Tu espacio seguro día tras día</h2>
        <h2>¿Quién es Sof.IA?</h2>
        <p>Sof.IA es un Asistente Psicológico pensado para el alcance de todos, en ocasiones no contamos con el tiempo
            de esperar a tener una cita con un especialista y es aqui donde entramos para ayudarte y recordarte que 
            <b>no estás solo.</b>
        </p>

            <button> 
                <span>Iniciar sesión</span>
            </button>


    </body>
</html>